{% extends "base.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />
    <script src="{{ asset('bundles/app/bower_components/react/react.js') }}"></script>
    <script src="{{ asset('bundles/app/bower_components/react/JSXTransformer.js') }}"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/jsx" src="{{ asset('bundles/app/src/components/framework/framework.js') }}"></script>
    <script type="text/jsx" src="{{ asset('bundles/app/src/components/framework/framework-list.js') }}"></script>
    <script type="text/jsx" src="{{ asset('bundles/app/src/components/framework/framework-form.js') }}"></script>
    <script type="text/jsx" src="{{ asset('bundles/app/src/components/framework/framework-box.js') }}"></script>
    <script type="text/jsx" src="{{ asset('bundles/app/src/app.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="block">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
