{% extends "base.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />
    <script src="{{ asset('bundles/app/bower_components/react/react.js') }}"></script>
    <script src="{{ asset('bundles/app/bower_components/react/JSXTransformer.js') }}"></script>
    <script type="text/jsx" src="{{ asset('bundles/app/src/app.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="block">
        {% block content %}{% endblock %}
    </div>

{% endblock %}
